.App {
  text-align: center;

  .mainWrap {
    height: 100vh;
    background-color: #7e7e7e;

    .main-container {
      width: 100%;
      height: 90%;
      background-color: #f0eee9;
      position: relative;
      z-index: 1;
      overflow: hidden;

      .banner-arrow {
        width: 100%;

        > .arrow {
          position: absolute;
          top: 0px;
          width: 50px;
          height: 100%;
          cursor: pointer;

          > span {
            position: relative;
            top: 45%;
            color: #fff;
            font-size: 24px;
            display: none;
          }

          &.disabled {
            display: none;
          }
          &:hover {
            background-color: rgba($color: #000000, $alpha: 0.5);

            > span {
              display: block;
            }
          }

          &.arrow-left {
            left: 0px;
          }

          &.arrow-right {
            right: 0px;
          }
        }
      }
    }

    .banner-move {
      width: 1000%;
      height: 100%;
      transition: 0.5s;

      > div {
        float: left;
        overflow: hidden;
        width: 10%;
        height: 100%;
      }
    }
  }
}

.boundary-bg {
  width: 1000%;
  height: 30px;
  background-color: #894c1f;
  border-top: 3px solid #000;
  border-bottom: 1px solid #d7d7d7;
  position: absolute;
  bottom: 0;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
