.App {
  text-align: center;
  background-color: #f0eee9;

  .mainWrap {
    height: 100vh;
    background-color: #7e7e7e;

    .containerWrap {
      width: 100%;
      height: 100%;
      position: relative;
      top: 0%;
    }

    .main-wrap {
      width: 100%;
      height: calc(100% - 180px);

      > .container {
        width: 100%;
        height: 100%;
        position: relative;

        > .content {
          position: absolute;
          left: 50%;
          top: 50%;
          font-size: 100px;
          font-family: fantasy;
          letter-spacing: 2px;
          z-index: 2;
          transform: translate(-50%, -50%);

          > p {
            font-size: 20px;
          }
        }
      }
    }

    .content-wrap {
      width: 100%;
      height: calc(100% - 180px);

      .container {
        width: 100%;
        height: 100%;
        position: relative;

        .content {
          width: 90%;
          position: absolute;
          left: 50%;
          top: 50%;
          font-family: fantasy;
          letter-spacing: 2px;
          z-index: 2;

          transform: translate(-50%, -50%);

          > h2 {
            font-size: 50px;
            margin-bottom: 100px;
          }

          > ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            > li {
              width: 33%;
              margin-bottom: 30px;

              > h3 {
                font-size: 30px;
                font-weight: bold;
                color: #636363;

                > svg {
                  width: 40px;
                  height: 40px;
                  margin-right: 5px;
                }
              }

              > p {
                font-family: auto;
                font-size: 22px;
                font-weight: 700;
              }
            }
          }
        }
      }
    }

    .main-container {
      width: 100%;
      height: 100%;
      background-color: #f0eee9;
      position: relative;
      z-index: 1;
      overflow: hidden;
      top: 0;

      &.floor_1 {
        top: 0;
      }

      &.floor_2 {
        top: 100%;
      }
      &.floor_3 {
        top: 200%;
      }

      .banner-arrow {
        width: 100%;

        > .arrow {
          position: absolute;
          top: 0px;
          width: 50px;
          height: 100%;
          cursor: pointer;
          background-color: transparent;

          > span {
            position: relative;
            top: 45%;
            color: #fff;
            font-size: 24px;
            display: none;
            background-color: transparent;
          }

          &.disabled {
            display: none;
          }
          &:hover {
            background-color: rgba($color: #000000, $alpha: 0.5);

            > span {
              display: block;
            }
          }

          &.arrow-left {
            left: 0px;
          }

          &.arrow-right {
            right: 0px;
          }
        }
      }
    }

    .banner-move {
      width: 1000%;
      height: 100%;
      transition: 0.5s;

      > div {
        float: left;
        overflow: hidden;
        width: 10%;
        height: 100%;
      }
    }
  }
}

.boundary-bg {
  width: 1000%;
  height: 30px;
  background-color: #894c1f;
  border-top: 3px solid #000;
  border-bottom: 1px solid #d7d7d7;
  position: absolute;
  bottom: 150px;
}
.footer-bg {
  width: 1000%;
  height: 150px;
  background-color: #7e7e7e;
  position: absolute;
  bottom: 0;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
